* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.auth-wrapper {
  min-height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(120deg, #1d2671, #c33764);
  overflow: hidden;
}


.auth-card {
  background: #ffffff;
  width: 380px;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
}

.auth-card h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

.field {
  position: relative;
  margin-bottom: 22px;
}

.field input {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.field label {
  position: absolute;
  left: 10px;
  top: 50%;
  color: #888;
  font-size: 14px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: 0.3s;
  background: white;
  padding: 0 5px;
}

.field input:focus + label,
.field input:valid + label {
  top: -8px;
  font-size: 12px;
  color: #c33764;
}

.toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #1d2671;
  cursor: pointer;
  user-select: none;
}

.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(120deg, #1d2671, #c33764);
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-text span {
  color: #c33764;
  cursor: pointer;
}

.footer-text strong {
  color: #1d2671;
  cursor: pointer;
}
